/* declaracion de fuentes */

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Semibold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

body {
    font-family: 'Hind', sans-serif;
}

.centrar{
    display: grid;
    grid-template-areas: 
    "formulario pago"
    "volver .";
    gap: 20px;
    
}

#formulario{
    grid-area: formulario;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 45px;
    align-items: center;
    gap: 5px;
}

.pago{
    grid-area: pago;
    justify-self: start;
    display: flex;
    flex-direction: column;
    width: 250px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 45px;
}

button{
    color: white;
    background-color: #b17036;
    border: 0;
    border-radius: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

ul{
    display: contents;
}

#volver{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    background-color: #68AAFC;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.volver{
    grid-area: volver;
    justify-self: center;
    display: flex; 
}

/* Estilo del bloqueo de pantalla */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de todo */
  color: white;
  font-family: sans-serif;
}

/* Animación del Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
