/* declaracion de fuentes */

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Semibold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}


form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* El título "Inicio de Sesión" */
span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #333;
}

/* Estilo de los campos de texto */
input {
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Efecto al hacer clic en los inputs */
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
}

/* Estilo del botón */
button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

/* Efecto al pasar el mouse por el botón */
button:hover {
    background-color: #0056b3;
}
body{
    font-family: Hind, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}